{block header}
	{_'Overload template'}
{/block}

{block toolbar}
{/block}

{block breadcrumb}
	{include #parent}
	<li><a n:href="default">{_'Templates'}</a></li>
	<li class="active">{_Editing}</li>
{/block}

{block content}

{control overloadForm}
