services:

	system.admin.application.mailerFormFactory:
		class: Venne\System\AdminModule\MailerFormFactory(@system.admin.configFormFactory(%configDir%/config.neon, ''))

	system.admin.application.registrationFormFactory:
		class: Venne\System\AdminModule\RegistrationFormFactory(@system.admin.configFormFactory(%configDir%/config.neon, 'system.administration'), @doctrine.dao(Venne\Security\RoleEntity))

	system.admin.application.systemFormFactory:
		class: Venne\System\AdminModule\AdministrationFormFactory(@system.admin.configFormFactory(%configDir%/config.neon, 'system.application'))

	system.admin.application.applicationFormFactory:
		class: Venne\System\AdminModule\ApplicationFormFactory(@system.admin.configFormFactory(%configDir%/config.neon, ''))

	system.admin.application.accountFormFactory:
		class: Venne\Security\AdminModule\AccountFormFactory(@system.admin.configFormFactory(%configDir%/config.neon, system.administration.login))

	system.admin.applicationPresenter:
		class: Venne\System\AdminModule\ApplicationPresenter
		tags: [administration: [
			link: 'System:Admin:Application:'
			category: 'System'
			name: 'System settings'
			description: 'Set up database, environment,...'
			priority: 15
		]]
		autowired: no
