services:

	system.admin.modulePresenter:
		class: Venne\System\AdminModule\PackagesPresenter
		tags: [administration: [
			link: 'System:Admin:Packages:'
			category: 'System'
			name: 'Package manager'
			description: 'Manage CMS packages, donwload, install, setup,...'
			priority: 10
		]]
