services:

	system.admin.security.permissionsFormFactory:
		class: Venne\Security\AdminModule\PermissionsFormFactory(@system.admin.basicFormFactory, @doctrine.dao(Venne\Security\RoleEntity))

	system.admin.security.roleFormFactory:
		class: Venne\Security\AdminModule\RoleFormFactory(@system.admin.basicFormFactory)

	system.admin.security.providerFormFactory:
		class: Venne\Security\AdminModule\ProviderFormFactory
		setup:
#			- injectFactory(@system.admin.basicFormFactory)
#			- injectSecurityManager()
#
#	system.admin.security.providersFormFactory:
#		class: Venne\Security\AdminModule\ProvidersFormFactory
#		setup:
#			- injectSecurityManager(...)
#			- injectFactory(@system.admin.basicFormFactory)

	system.admin.defaultPresenter:
		class: Venne\Security\AdminModule\DefaultPresenter(@doctrine.dao(Venne\Security\UserEntity))
		tags: [administration: [
			link: 'Security:Admin:Default:'
			category: 'System'
			name: 'Security'
			description: 'Manage users, roles and permissions'
			priority: 60
		]]

	system.admin.rolesPresenter:
		class: Venne\Security\AdminModule\RolesPresenter(@doctrine.dao(Venne\Security\RoleEntity))

	system.admin.accountPresenter:
		class: Venne\Security\AdminModule\AccountPresenter(@doctrine.dao(Venne\Security\UserEntity), @doctrine.dao(Venne\Security\LoginEntity))
		parameters: []
