services:

	Venne\Comments\ICommentControlFactory:
		arguments: [@doctrine.dao(Venne\Comments\CommentEntity)]
		implement: Venne\Comments\Components\ICommentControlFactory
		inject: yes

	Venne\Comments\ICommentsControlFactory:
		arguments: [@doctrine.dao(Venne\Comments\CommentEntity)]
		implement: Venne\Comments\Components\ICommentsControlFactory
		tags: [venne.widget: comments]
		inject: yes

	Venne\Comments\IChatControlFactory:
		arguments: [@doctrine.dao(Venne\Comments\CommentEntity)]
		implement: Venne\Comments\Components\IChatControlFactory
		tags: [venne.widget: chat]
		inject: yes

	Venne\Comments\CommentFormFactory:
		class: Venne\Comments\Components\CommentFormFactory(@system.admin.basicFormFactory)
