services:
	cms.websiteFormFactory:
		class: CmsModule\Forms\WebsiteFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.languageFormFactory:
		class: CmsModule\Forms\LanguageFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.userFormFactory:
		class: CmsModule\Forms\UserFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	cms.userSocialFormFactory:
		class: CmsModule\Forms\UserSocialFormFactory
		setup:
			- injectSecurityManager(...)
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.roleFormFactory:
		class: CmsModule\Forms\RoleFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.loginFormFactory:
		class: CmsModule\Forms\LoginFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
			- setRedirect(:Cms:Admin:%administration.defaultPresenter%)

	cms.applicationFormFactory:
		class: CmsModule\Forms\SystemApplicationFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.databaseFormFactory:
		class: CmsModule\Forms\SystemDatabaseFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.accountFormFactory:
		class: CmsModule\Forms\SystemAccountFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.systemFormFactory:
		class: CmsModule\Forms\SystemAdministrationFormFactory(..., ..., %administration.routePrefix%)
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.dirFormFactory:
		class: CmsModule\Content\Forms\DirFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.fileFormFactory:
		class: CmsModule\Content\Forms\FileFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	cms.layoutFormFactory:
		class: CmsModule\Content\Forms\LayoutFormFactory(..., ..., %modules%)
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.layouteditFormFactory:
		class: CmsModule\Content\Forms\LayouteditFormFactory(..., %appDir%, %modules%)
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.contentFormFactory:
		class: CmsModule\Content\Forms\BasicFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.contentTableFactory:
		class: CmsModule\Content\Components\ContentTableFactory

	cms.contentRouteFormFactory:
		class: CmsModule\Content\Forms\RouteFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	cms.permissionsFormFactory:
		class: CmsModule\Forms\PermissionsFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)
			- injectAuthorizatorFactory
			- injectAdministrationManager
			- injectPresenterFactory
			- injectControlVerifier

	cms.clearFormFactory:
		class: CmsModule\Content\Elements\Forms\ClearFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.basicFormFactory:
		class: CmsModule\Content\Elements\Forms\BasicFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.textFormFactory:
		class: CmsModule\Content\Elements\Forms\TextFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.textareaFormFactory:
		class: CmsModule\Content\Elements\Forms\TextareaFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)

	cms.editorFormFactory:
		class: CmsModule\Content\Elements\Forms\EditorFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)


	cms.staticFormFactory:
		class: CmsModule\Content\Forms\StaticFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	cms.loginPageFormFactory:
		class: CmsModule\Content\Forms\LoginFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)
		tags: [component]

	cms.redirectFormFactory:
		class: CmsModule\Content\Forms\RedirectFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	cms.registrationFormFactory:
		class: CmsModule\Content\Forms\RegistrationFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	cms.registrationFrontFormFactory:
		class: CmsModule\Content\Forms\RegistrationFrontFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)
		tags: [component]

	cms.specialFormFactory:
		class: CmsModule\Content\Forms\SpecialFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)


	cms.securityManager:
		setup:
			- addUserType(basic user, \CmsModule\Security\Entities\UserEntity, cms.registrationFrontFormFactory)


factories:

	cms.admin.basicForm:
		class: Venne\Forms\Form
		setup:
			- setRenderer(@cms.formRenderer)
			- setTranslator(@translator.translator)

	cms.admin.ajaxForm:
		class: Venne\Forms\Form
		setup:
			- setRenderer(@cms.formRenderer)
			- setTranslator(@translator.translator)
			- "$service->getElementPrototype()->class[] = ?"("ajax")

	cms.admin.routeControl:
		class: CmsModule\Content\Components\RouteControl
		tags: [component]

	cms.headControl:
		class: CmsModule\Components\HeadControl
		tags: [widget: head]

	cms.panelControl:
		class: CmsModule\Components\PanelControl(..., @session::getSection('Venne.panel'))
		setup:
			- setTemplateConfigurator(@venne.templateConfigurator)
		tags: [widget: panel]

	cms.navigationControl:
		class: CmsModule\Components\NavigationControl(%website.routePrefix%)
		tags: [widget: navigation]

	cms.breadcrumbControl:
		class: CmsModule\Components\BreadcrumbControl(%website.routePrefix%)
		tags: [widget: breadcrumb]

	cms.flashMessageControl:
		class: CmsModule\Components\FlashMessageControl
		tags: [widget: flashMessage]

	cms.loginControl:
		class: CmsModule\Components\LoginControl
		setup:
			- injectLoginFormFactory(...)
			- injectSecurityManager(...)
		tags: [widget: login]

	cms.languageswitchControl:
		class: CmsModule\Components\LanguageswitchControl
		tags: [widget: languageswitch]

	cms.textElement:
		class: CmsModule\Content\Elements\TextElement
		setup:
			- injectSetupForm(@cms.textFormFactory)
		tags: [element: text]

	cms.textareaElement:
		class: CmsModule\Content\Elements\TextElement
		setup:
			- injectSetupForm(@cms.textareaFormFactory)
		tags: [element: textarea]

	cms.editorElement:
		class: CmsModule\Content\Elements\EditorElement
		setup:
			- injectSetupForm(@cms.editorFormFactory)
		tags: [element: editor]
