services:

	system.dynamicMapperSubscriber:
		class: Venne\Doctrine\Mapping\DynamicMapperSubscriber
		tags: [kdyby.subscriber]

	system.extendedUserListener:
		class: Venne\Security\Listeners\ExtendedUserListener

	system.configBuilder:
		class: Venne\Config\ConfigBuilder(%configDir%/config.neon)

	system.formRenderer:
		class: Venne\System\Forms\Bootstrap3Renderer

	system.userLogListener:
		class: Venne\Security\Listeners\UserLogListener
		tags: [kdyby.subscriber]

includes:
	- components.neon
	- admin.system.neon
	- admin.modules.neon
	- admin.security.neon
	- admin.cache.neon
	- admin.logs.neon
	- users.default.neon
