parameters:
	administration:
		login:
			name: ""
			password: ""
		routePrefix: admin

	website:
		title: ""
		titleSeparator: |
		keywords: ""
		description: ""
		author: ""
		routePrefix: ""
		languages: []
		defaultLanguage: cs
		defaultPresenter: Homepage
		errorPresenter: Error

services:

	cms.formRenderer:
		class: CmsModule\Forms\Rendering\BootstrapRenderer

	cms.contentManager:
		class: CmsModule\Content\ContentManager

	cms.elementManager:
		class: CmsModule\Content\ElementManager

	cms.administrationManager:
		class: CmsModule\Administration\AdministrationManager

	cms.scannerService:
		class: CmsModule\Services\ScannerService

	cms.securityManager:
		class: CmsModule\Security\SecurityManager


	cms.pageRepository:
		class: CmsModule\Content\Entities\PageEntity
		tags: [repository]

	cms.routeRepository:
		class: CmsModule\Content\Entities\RouteEntity
		tags: [repository]

	cms.languageRepository:
		class: CmsModule\Content\Entities\LanguageEntity
		setup:
			- injectConfigBuilder
		tags: [repository]

	cms.loginRepository:
		class: CmsModule\Security\Entities\LoginEntity
		tags: [repository]

	cms.roleRepository:
		class: CmsModule\Security\Entities\RoleEntity
		tags: [repository]

	cms.userRepository:
		class: CmsModule\Security\Entities\UserEntity
		tags: [repository]

	cms.permissionRepository:
		class: CmsModule\Security\Entities\PermissionEntity
		tags: [repository]

	cms.fileRepository:
		class: CmsModule\Content\Entities\FileEntity
		tags: [repository]

	cms.dirRepository:
		class: CmsModule\Content\Entities\DirEntity
		tags: [repository]

	cms.pageTagRepository:
		class: CmsModule\Content\Entities\PageTagEntity
		tags: [repository]


	cms.pageListener:
		class: CmsModule\Content\Listeners\PageListener
		tags: [listener]

	cms.fileListener:
		class: CmsModule\Content\Listeners\FileListener
		tags: [listener]

	cms.contentHelper:
		class: CmsModule\Helpers\ContentHelper
		tags: [helper: content]

	cms.staticContent:
		class: CmsModule\Content\ContentType('CmsModule\Content\Entities\StaticPageEntity')
		setup:
			- addSection('Content', @cms.staticFormFactory)
		tags: [contentType: [name: 'static page']]

	cms.redirectContent:
		class: CmsModule\Content\ContentType('CmsModule\Content\Entities\RedirectPageEntity')
		setup:
			- addSection('Redirection', @cms.redirectFormFactory)
		tags: [contentType: [name: 'redirect page']]

	cms.registrationContent:
		class: CmsModule\Content\ContentType('CmsModule\Content\Entities\RegistrationPageEntity')
		setup:
			- addSection('Registration form', @cms.registrationFormFactory)
		tags: [contentType: [name: 'registration']]

	cms.loginContent:
		class: CmsModule\Content\ContentType('CmsModule\Content\Entities\LoginPageEntity')
		setup:
			- addSection('Login page', @cms.loginPageFormFactory)
		tags: [contentType: [name: 'login page']]

factories:

	areaMacro:
		factory: CmsModule\Content\Macros\ElementMacro::install(%compiler%)
		parameters: [compiler]
		tags: [macro]

	confirmMacro:
		factory: CmsModule\Macros\ConfirmMacro::install(%compiler%)
		parameters: [compiler]
		tags: [macro]

	headMacro:
		factory: CmsModule\Macros\HeadMacro::install(%compiler%)
		parameters: [compiler]
		tags: [macro]

	dialogMacro:
		factory: CmsModule\Macros\DialogMacro::install(%compiler%)
		parameters: [compiler]
		tags: [macro]

	mediaMacro:
		factory: CmsModule\Content\Macros\MediaMacro::install(%compiler%)
		setup:
			- setFileRepository(@cms.fileRepository)
		parameters: [compiler]
		tags: [macro]

includes:
	- presenters.neon
	- components.neon
	- commands.neon
