services:
	cms.pages.textPage:
		class: CmsModule\Content\ContentType('CmsModule\Pages\Text\PageEntity')
		setup:
			- addSection('Content', @cms.pages.text.textFormFactory)
		tags: [contentType: 'static page']

	cms.pages.text.textFormFactory:
		class: CmsModule\Pages\Text\TextFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	cms.pages.text.imageElement.imageFormFactory:
		class: CmsModule\Pages\Text\ImageElement\ImageFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	cms.pages.text.thumbnailElement.thumbnailFormFactory:
		class: CmsModule\Pages\Text\ThumbnailElement\ThumbnailFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

factories:
	cms.pages.text.routePresenter:
		class: CmsModule\Pages\Text\RoutePresenter
		tags: [presenter]

	cms.pages.text.textElement:
		class: CmsModule\Pages\Text\TextElement\TextElement
		setup:
			- injectSetupForm(@cms.pages.text.textareaElement.textFormFactory)
		tags: [element: text]

	cms.pages.text.textareaElement:
		class: CmsModule\Pages\Text\TextElement\TextElement
		setup:
			- injectSetupForm(@cms.pages.text.editorElement.textareaFormFactory)
		tags: [element: textarea]

	cms.pages.text.editorElement:
		class: CmsModule\Pages\Text\EditorElement\EditorElement
		setup:
			- injectSetupForm(@cms.pages.text.editorElement.editorFormFactory)
		tags: [element: editor]

	cms.pages.text.imageElement:
		class: CmsModule\Pages\Text\ImageElement\ImageElement
		setup:
			- injectSetupForm(...)
		tags: [element: image]

	cms.pages.text.thumbnailElement:
		class: CmsModule\Pages\Text\ThumbnailElement\ThumbnailElement
		setup:
			- injectSetupForm(...)
		tags: [element: thumbnail]

	cms.pages.text.textareaElement.textFormFactory:
		class: CmsModule\Pages\Text\TextElement\TextFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	cms.pages.text.editorElement.textareaFormFactory:
		class: CmsModule\Pages\Text\EditorElement\TextareaFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	cms.pages.text.editorElement.editorFormFactory:
		class: CmsModule\Pages\Text\EditorElement\EditorFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)