services:
	cms.pages.profileContent:
		class: CmsModule\Content\ContentType('CmsModule\Pages\Profile\PageEntity')
		tags: [contentType: 'authentication.profile page']

factories:
	cms.pages.profile.routePresenter:
		class: CmsModule\Pages\Profile\RoutePresenter
		tags: [presenter]