services:

	Venne\Security\UserType:
		class: Venne\Security\UserType('Venne\Security\DefaultType\UserEntity')
		setup:
			- setFormFactory(@Venne\Security\DefaultType\AdminFormFactory)
			- setFrontFormFactory(@Venne\Security\DefaultType\FrontFormFactory)
			- setRegistrationFormFactory(@Venne\Security\DefaultType\RegistrationFormFactory)
		tags: [user: [name: Default user]]

	Venne\Security\DefaultType\AdminFormFactory:
		class: Venne\Security\DefaultType\AdminFormFactory(@system.admin.basicFormFactory)

	Venne\Security\DefaultType\FrontFormFactory:
		class: Venne\Security\DefaultType\FrontFormFactory(@system.admin.basicFormFactory)

	Venne\Security\DefaultType\RegistrationFormFactory:
		class: Venne\Security\DefaultType\RegistrationFormFactory(@system.admin.basicFormFactory)
