{var $count = $control->notificationManager->countNotifications()}

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<i class="fa fa-bell"></i> <span class="badge">{$count}</span>
</a>

<div id="notification-{!$control->name}" class="dropdown-menu list-group notification-container">
	<div role="presentation" class="dropdown-header">
		<i class="fa fa-bell"></i>
		{_'%count% notifications', $count}
	</div>

	<div class="list-group notification-list-group">
		<div n:foreach="$control->notifications as $notification" class="list-group-item">
			{control notification $notification}
		</div>
	</div>

	<a class="ajax list-group-item text-right" href="{plink :Notifications:Admin:Default:}">
		{_'See all notifications'} <i class="glyphicon glyphicon-chevron-right"></i>
	</a>
</div>

<script type="text/javascript">
	$(function(){
		$('#notification-{!$control->name}').on('click', function(e) {
			e.stopPropagation();
		});
		$('#notification-{!$control->name} a.notification-close').on('click', function(e) {
			$(this).closest('.list-group-item').slideUp(400, function() {
				$(this).remove();
			});
		});
	});
</script>
