{block header}
	{_'Tags'}
{/block}

{block toolbar}
{/block}

{block breadcrumb}
	{include #parent}
	<li class="active">{include #header}</li>
{/block}

{block content}

{if $extendedPage}
{control table}
{/if}
