	<li n:if="$presenter->isAllowed('Language:default')" {if $presenter->isLinkCurrent("default")}class="active"{/if}>
		<a href="{link default type=>null, id=>null}">Language list</a>
	</li>
	<li n:if="$presenter->isAllowed('Language:create')" {if $presenter->isLinkCurrent("create")}class="active"{/if}>
		<a href="{link create}">Create new language</a>
	</li>
