	<li n:if="$presenter->isAllowed('Environments:default')"{if $presenter->isLinkCurrent("Environments:default")} class="active"{/if}>
		<a href="{plink Environments:}">{_'List'}</a>
	</li>

	<li n:if="$presenter->isAllowed('Environments:create')"{if $presenter->isLinkCurrent("Environments:create")} class="active"{/if}>
		<a href="{plink Environments:create}">{_'Create'}</a>
	</li>

