div#content p, .cke_show_borders p {
    text-align: justify;
    color: #555;
    text-indent: 50px;
}

div#all-1 div#content p, div#all-1 .cke_show_borders p {
    color: #ffffff;
    font-style: italic;
}

#content p.paragraph, .cke_show_borders p.paragraph {
    text-indent: 0px;
}

#content p.paragraph-main, .cke_show_borders p.paragraph-main {
    font-weight: bold;
}

#content p.align-right, .cke_show_borders p.align-right {
    text-align: right;
}

div#content hr, .cke_show_borders hr {
    height: 1px;
    background: transparent url('../img/hr.png');
    border: 0;
}

div#content h1, .cke_show_borders h1 {
    font: 28px "Times New Roman", Georgia, Serif;
    color: #009600;
}

div#all-1 div#content h1, div#all-1 .cke_show_borders h1 {
    color: #009600;
}

div#content h2, .cke_show_borders h2 {
    font: 22px "Times New Roman", Georgia, Serif;
    color: #333333;
}

div#all-1 div#content h3, div#all-1 .cke_show_borders h3 {
    color: #bbbbbb;
}

div#content h2.red, .cke_show_borders h2.red {
    color: #960000;
}

div#content h2.blue, .cke_show_borders h2.blue {
    color: #000096;
}

div#content h2.black, .cke_show_borders h2.black {
    color: #000000;
}

div#content ul, .cke_show_borders ul {
    margin: 0;
    padding: 0 0 0 50px;
}

div#all-1 div#content ul, div#all-1 .cke_show_borders ul {
    margin: 0;
    padding: 0 0 0 0px;
}

div#content ul li, .cke_show_borders ul li {
    list-style: none;
    background: transparent url('../img/icon/icon-list.png') no-repeat;
    background-position: 0 2px;
    margin: 5px 0 5px 0;
    padding: 0 0 0 30px;
}

div#all-1 div#content ul li, div#all-1 .cke_show_borders ul li {
    color: #bbbbbb;
}

div#content a, .cke_show_borders a {
    color: #007700;
    text-decoration: none;
}

div#all-1 div#content a, div#all-1 .cke_show_borders a {
    color: #007700;
    text-decoration: none;
}

div#content a:hover, .cke_show_borders a:hover {
    text-decoration: underline;
}

div#content div.index-box, .cke_show_borders div.index-box {
    background-position: -17px 0px;
    padding-left: 100px;
}

div#content div.index-box2, .cke_show_borders div.index-box2 {
    background: transparent url('../img/box.png');
    margin-top: 20px;
}

div#content div.index-box.black, .cke_show_borders div.index-box.black {
    background: transparent url('../img/icon/icon-cursor.png') no-repeat;

}

div#content div.index-box.blue, .cke_show_borders div.index-box.blue {
    background: transparent url('../img/icon/icon-module.png') no-repeat;
    background-position: -17px 0px;
    padding-left: 100px;
}

div#content div.index-box.red, .cke_show_borders div.index-box.red {
    background: transparent url('../img/icon/icon-security.png') no-repeat;
    background-position: -17px 0px;
    padding-left: 100px;
}

div#content div#index-leaflet, .cke_show_borders div#index-leaflet {
    width: 100%;
    height: 179px;
    background: transparent url('../img/papers.png') no-repeat center 20px;
    margin-bottom: -30px;
}

div#content div.content-left, .cke_show_borders div.content-left {
    float: left;
    width: 470px;
}

div#content div.content-right, .cke_show_borders div.content-right {
    float: right;
    width: 470px;
}

div#content div.content-left-3, .cke_show_borders div.content-left-3 {
    float: left;
    width: 270px;
}

div#content div.content-right-3, .cke_show_borders div.content-right-3 {
    float: right;
    width: 270px;
}

div#content div.content-center-3, .cke_show_borders div.content-center-3 {
    float: left;
    width: 270px;
    margin: 0 90px 0 90px;
}

div#content form fieldset, .cke_show_borders form fieldset {
    border: 0px;
}

div#content form fieldset table th, .cke_show_borders form fieldset table th {
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
    float: left;
    width: 190px;
    margin: 5px;
}

div#content form fieldset table td, .cke_show_borders form fieldset table td {
    display: block;
    float: left;
    margin: 5px;
}

div#content form fieldset table td input[type="text"],
.cke_show_borders form fieldset table td input[type="text"],
div#content form fieldset table td input[type="password"],
.cke_show_borders form fieldset table td input[type="password"]{
    border: 1px solid #aaa;
    border-radius: 3px 3px;
    height: 25px;
    padding: 0 5px 0 5px;
    font-size: 14px;
    width: 138px;
    color: #000;
}

div#content form fieldset table td input[type="submit"], .cke_show_borders form fieldset table td input[type="submit"] {
    border: 0px;
    border-radius: 3px 3px;
    background-color: #009600;
    height: 25px;
    padding: 0;
    font-size: 13px;
    width: 150px;
    color: white;
    cursor: pointer;
    text-shadow: 0 -1px 0 black;
}
