body {
    margin: 0;
    padding: 0;
    line-height: 165%;
    font-size: 13px;
    font-family: ff-din-web-pro-1, ff-din-web-pro-2, helvetica, arial, sans-serif;
    background: black url('../img/bg-noise.gif') repeat;
}

div.center-block {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}

div#all-1 {
    float: left;
    width: 100%;
    padding-bottom: 55px;
}

div#all-1 div#header-1-logo {
    float: left;
    width: 303px;
    height: 71px;
    /*background: transparent url('../img/logo.png') no-repeat;*/
    margin-top: 20px;
}

div#all-1 div#header-2-menu {
    float: right;
    /*width: 651px;*/
    height: 37px;
    /*background: transparent url('../img/menu-left.png') repeat;*/
}

div#all-1 div#header-2-menu .left {
    background: transparent url('../img/menu-left.png') repeat;
    float: left;
    width: 10px;
    height: 37px;
}

div#all-1 div#header-2-menu .right {
    background: transparent url('../img/menu-right.png') repeat;
    float: right;
    width: 10px;
    height: 37px;
}

div#all-1 div#header-2-menu .center {
    background: transparent url('../img/menu-center.png') repeat;
    float: left;
    height: 37px;
    padding: 0 5px 0 5px;
}

div#all-1 div#header-2-menu ul {
    margin: 0 0 0 0px;
    padding: 0;
    float: right;
}

div#all-1 div#header-2-menu ul li {
    padding: 0 0 0 1px;
    margin: 0 -1px 0 0;
    list-style: none;
    float: left;
    background: transparent url('../img/menu-separator.png') no-repeat 0px 9px;
}

div#all-1 div#header-2-menu ul li:first-child {
    background: none;
}

div#all-1 div#header-2-menu ul li a {
    height: 23px;
    display: block;
    float: left;
    padding: 11px 12px 0 12px;
    margin: 0px;
    color: #ddd;
    text-shadow: 0 -1px 0 black;
    text-decoration: none;
    font: 13px "Helvetica", "Geneva CE", lucida, sans-serif;
    font-weight: bold;
}

div#all-1 div#header-2-menu ul li a.active {
    color: white;
    border-bottom: 3px solid #ffffff;
}

div#all-1 div#header-2-menu ul li a:hover {
    color: white;
}

div#all-1 div#header-2-menu ul li:first-child a {
    background: transparent url('../img/menu-home.png') no-repeat 10px 9px;
    background-position: 10px 7px;
    padding-left: 41px;
}

div#all-1 div#header-3-left {
    clear: left;
    float: left;
    width: 480px;
    margin-top: 10px;
}

div#all-1 div#header-3-left h1 {
    color: white;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    font: 36px "Times New Roman", Georgia, Serif;
    text-align: justify;
    margin: 15px 0 0 0;
    text-shadow: #000000 0px 0px 5px;
}

div#all-1 div#header-3-left p {
    color: #00d700;
    text-align: justify;
    font-style: italic;
    text-indent: 50px;
    margin: 5px 0 0 0;
}

div#all-1 div#header-4-right {
    float: right;
    width: 480px;
    margin-top: 10px;
}

div#all-1 div#header-4-right .slider {
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
    border: 6px solid #007700;
    border-radius: 5px;
}

div#all-1 div#header-4-right .slider .nivo-prevNav, div#all-1 div#header-4-right .slider .nivo-nextNav {
    display: none;
}

div#all-1 div#header-4-right .slider .nivo-controlNav {
    display: none;
}

div#all-2 {
    float: left;
    width: 100%;
    background: white;
}

div#all-2 div#content {
    float: left;
    width: 990px;
    min-height: 500px;
    padding: 0 0 50px 0;
}

div#all-2 div#path {
    float: left;
    width: 990px;
    height: 20px;
    text-align: left;
    padding: 0px;
    margin-top: -28px;
    color: #aaa;
}

div#all-2 div#path .nav {
    color: white;
}

div#all-2 div#path a {
    color: #aaa;
    text-decoration: none;
}

div#all-2 div#path a:hover {
    text-decoration: underline;
    color: white;
}

div#all-2 div#path #search {
    padding: 7px;
    height: 40px;
    float: right;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* content is styled in special sheet: content.css */

div#all-3 {
    height: 160px;
    float: left;
    width: 100%;
}

div#all-3 ul {
    margin: 15px 0 0 0;
    padding: 0;
}

div#all-3 ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
    color: #999;
}

div#all-3 ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    color: #aaa;
    text-decoration: none;
    font-size: 13px;
}

div#all-3 ul li:before {
    content: '|';
}

div#all-3 ul li:first-child:before {
    content: '';
}

div#all-3 ul li a:hover {
    text-decoration: underline;
    color: white;
}

div#all-3 div#footer-leaf {
    width: 280px;
    height: 150px;
    float: right;
    background: transparent url('../img/bottom-paper.png') no-repeat;
    position: relative;
    top: -55px;
    padding: 50px 0 0 60px;
}

div#all-3 div#footer-leaf p {
    color: #ddd;
    /*
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
*/
}

div#all-3 div#footer-leaf p span:before {
    content: '|';
}

div#all-3 div#footer-leaf p span:first-child:before {
    content: '';
}

div#all-3 div#footer-leaf p a {
    color: #ddd;
    padding: 0 5px 0 5px;
    text-decoration: none;
}

div#all-3 div#footer-leaf p a:hover {
    color: white;
    text-decoration: underline;
}

