{block header}
	{_'User manager'}
{/block}

{block breadcrumb}
	{include #parent}
	<li class="active">{include #header}</li>
{/block}

{block toolbar-items}
	<li n:foreach="$presenter->securityManager->userTypes as $type=>$item" class="{if $type == $presenter->type} active{/if}"><a class="ajax" href="{link this type=>$type}">{_$item->name}</a></li>
{/block}

{block content}

{if $extendedPage}
{control table}
{/if}
