	<li{if $presenter->isLinkCurrent("default")} class="active"{/if}><a class="ajax" n:href="default id=>NULL">list</a></li>
	<li{if $presenter->isLinkCurrent("create")} class="active"{/if}><a class="ajax" n:href="create id=>NULL">create new</a></li>
