#venne-panel * {
    font: inherit;
    color: inherit;
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    text-align: inherit;
    list-style: inherit;
}

#venne-panel {
    font: 13px "Trebuchet MS", "Geneva CE", lucida, sans-serif;

    float: right;
    width: 100%;
    height: 18px;
    background-color: #555555;
    background: #000000 url('../../images/admin-panel.png') repeat;
    margin: 0;
    font-size: 12px;
    color: #aaaaaa;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 99999;
    position: fixed;

    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
}

#venne-panel.closed {
    margin-top: -35px;
}

#venne-panel-roller.closed {
    margin-top: -7px;
}

#venne-panel-roller {
    font: 12px "Trebuchet MS", "Geneva CE", lucida, sans-serif;
    position: fixed;
	z-index: 99998;
    text-align: center;
    color: #aaaaaa;
    width: 70px;
    background-color: #000000;
    margin: 23px 0 0 10px;
    padding: 10px 3px 3px 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    line-height: normal;
}

#venne-panel-roller a {
    color: #dddddd;
    text-decoration: none;
}

#venne-panel-roller a:hover {
    color: #ffffff;
}

#venne-panel .panel-left {
    float: left;
    margin-left: 50px;
    text-align: left;
}

#venne-panel .panel-left div.box {
    height: 18px;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    border-left: solid 1px #555555;
}

#venne-panel .panel-left div.first.box {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

#venne-panel .panel-right {
    float: right;
    margin-right: 50px;
    text-align: right;
}

#venne-panel .panel-right div.box {
    height: 18px;
    float: right;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #555555;
}

#venne-panel .panel-right div.first.box {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

#venne-panel .popup {
    position: relative;
    margin: -4px -6px -4px -6px;
    padding: 4px 6px 4px 6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#venne-panel .popup:hover {
    background-color: #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
}

#venne-panel .popup .popup-open {
    margin: 8px 0 8px 0;
    padding: 10px;
    list-style: none;
    display: none;
    text-align: left;
}

#venne-panel .popup .popup-open span {
    font-weight: bold;
    width: 100%;
}

#venne-panel .popup .popup-open p {
    margin: 4px 0 4px 0;
    padding: 0;
}

#venne-panel .popup .popup-open ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#venne-panel .popup:hover .popup-open {
    display: block;
}

#venne-panel .popup ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#venne-panel .popup ul li a {
    margin: 0;
    padding: 0;
    list-style: none;
}

#venne-panel .popup ul li a.active {
    font-weight: bold;
}

#venne-panel a {
    color: #dddddd;
    text-decoration: none;
}

#venne-panel a:hover {
    color: #ffffff;
}

#venne-panel input {
    font-size: 11px;
    padding: 0 5px 0 5px;
    margin: -1px 0 -1px 0;
    border: 0px;
    background: #555555;
    height: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    color: #ffffff;
}

#venne-panel img {
    margin-top: -6px;
}


