{block header}
	{_'Content'}
{/block}

{block toolbar}
{/block}

{block breadcrumb}
	{include #parent}
	<li class="active"><span class="divider">/</span> {include #header}</li>
{/block}

{block #content}

{if $presenter->isAuthorized('create')}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon icon-file"></span> {_'Create new'} <b class="caret"></b></a>
					{include #tree items=>$presenter->context->cms->contentManager->getContentTypes(TRUE)}
				</li>

			</ul>
		</div>
	</div>
</div>
{/if}

{define #tree}
<ul class="dropdown-menu">
{foreach $items as $link=>$name}
	<li{if is_array($name)} class="dropdown-submenu"{/if}>
		{if is_array($name)}
			<a class="ajax" href="#">{_$link}</a>
			{include #tree items=>$name}
		{else}
			<a class="ajax" href="{plink :Cms:Admin:Content:create type=>$link}">{_$name}</a>
		{/if}
	</li>
{/foreach}
</ul>
{/define}

{control table}
