	<li n:if="$presenter->isAllowed('Application:default')"{if $presenter->isLinkCurrent("Application:default")} class="active"{/if}>
		<a href="{plink Application:}">General</a>
	</li>
	<li n:if="$presenter->isAllowed('Application:application')"{if $presenter->isLinkCurrent("Application:application")} class="active"{/if}>
		<a href="{plink Application:application}">Application</a>
	</li>
	<li n:if="$presenter->isAllowed('Application:database')"{if $presenter->isLinkCurrent("Application:database")} class="active"{/if}>
		<a href="{plink Application:database}">Database</a>
	</li>
	<li n:if="$presenter->isAllowed('Application:account')"{if $presenter->isLinkCurrent("Application:account")} class="active"{/if}>
		<a href="{plink Application:account}">Admin account</a>
	</li>
