{block head}{$entity->name}{/block}

{block content}

{if $entity->mode === CmsModule\Content\Entities\RegistrationPageEntity::MODE_MAIL}
<h2>Hello {$user->name}. Your account has been activated.</h2>
	{else}
<h2>Hello {$user->name}. Your account has been confirmed, please wait for activation by administrator.</h2>
{/if}