{block head}{$entity->name}{/block}

{block content}

{if !$presenter->user->isLoggedIn()}
	{if !isset($hideForm)}

    <h2>Social networks</h2>

    <ul>
		{foreach $socialLogins as $name}
            <li><a n:href="load! name=>$name">{$name}</a></li>
		{/foreach}
    </ul>

		{control form}
	{/if}
{else}
<h2>You are already logged in.</h2>
{/if}
