{cache $route, tags => [\CmsModule\Content\Entities\PageEntity::CACHE, \CmsModule\Content\Entities\RouteEntity::CACHE, \CmsModule\Pages\Tags\TagEntity::CACHE]}
{if $route->author}
	<div class="media">
		{if $route->author->photo}
			<img class="pull-left media-object img-thumbnail" n:src="$route->author->photo->getFileUrl(true), size=>'64x'" alt="{$route->author}" />
		{/if}
		<div class="media-body">
			<h4 class="media-heading"><a href="{plink this special=>'users', id=>$route->author}">{$route->author}</a></h4>

			<p n:if="isset($route->notation)">
				{!$route->notation}
			</p>
		</div>
	</div>
{/if}
{/cache}