{cache [$presenter->lang, $presenter->route->id], tags => [\CmsModule\Content\Entities\PageEntity::CACHE, \CmsModule\Content\Entities\RouteEntity::CACHE, \CmsModule\Pages\Tags\TagEntity::CACHE, \CmsModule\Content\Entities\LanguageEntity::CACHE]}

{var $languages = $control->getItems()}

<ul class="nav navbar-nav pull-right">
	<li class="dropdown">
		<a href="javaScript:;" class="dropdown-toogle" data-toggle="dropdown"><span class="glyphicon glyphicon-flag"></span> {$language} <b class="caret"></b></a>

		<ul class="dropdown-menu">
		{foreach $languages as $language}
			<li><a href="{plink changeLanguage! $language->alias}">{$language}</a></li>
		{/foreach}
		</ul>

	</li>
</ul>

{/cache}
