{cache tags => [\CmsModule\Content\Entities\PageEntity::CACHE, \CmsModule\Content\Entities\RouteEntity::CACHE, \CmsModule\Pages\Tags\TagEntity::CACHE]}
<div>
	{var $tags = $control->getTags()}
	{if count($tags)}
		{var $max = max(array_keys($tags))}
		{foreach $tags as $count=>$items}
			{foreach $items as $entity}
				<a href="{plink this route=>$entity}" style="font-size: {=30 * ($count/$max)}px">{$entity}</a>
			{/foreach}
		{/foreach}
	{/if}
</div>
{/cache}