{if $showNavbar}
	{control navbar}
{/if}

		{foreach $control->getItems() as $item}
		{continueIf !$item->isAllowedToRead()}

		<div data-toggle="tooltip" title="" data-original-title="<h5>{$item->name}</h5><strong>{_Created}:</strong>&nbsp;{$item->created|date:'%d.%m.%Y %H:%M:%S'}<br /><strong>{_Updated}:</strong>&nbsp;{$item->updated|date:'%d.%m.%Y %H:%M:%S'}{if $item->author}<br /><strong>{_Author}:</strong>&nbsp;{$item->author}{/if}" class="dropdown item {if $item instanceof \CmsModule\Content\Entities\DirEntity}d{else}f{/if}" id="{if $item instanceof \CmsModule\Content\Entities\DirEntity}d{else}f{/if}_{$item->id}">
				{if $item instanceof \CmsModule\Content\Entities\DirEntity}
					{var $type = 'folder'}
				{else}
					{var $type = 'text-plain'}
				{/if}
				{var $ext = substr($item->getName(), strrpos($item->getName(), '.') + 1)}
				<a class="img-thumbnail dropdown-toggle" href="{if $type=='folder'}{=$control->presenter->link('changeDir!', array('key'=>$item->id))}{else}{$basePath}/public/media/{$item->path}{/if}">
					{if $type=='text-plain' && ($ext=='png' || $ext=='jpg' || $ext=='gif')}
						<img n:src="$item->getPath(), size=>'64x64', format=>8" alt="" />
					{else}
						<img src="{$basePath}/resources/cmsModule/admin/icons/places/64/{$type}.png" alt="">
					{/if}
					<div>{\Nette\Utils\Strings::truncate($item->name, 25)}</div>
				</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="javascript:;" onClick="window.location = $(this).parent().parent().parent().find('a').attr('href');"><i class="glyphicon glyphicon-fullscreen"></i> {_Show}</a></li>
				<li><a class="ajax" href="{if $item instanceof \CmsModule\Content\Entities\DirEntity}{$control->parent['table']->link('doAction!', array('id' => $item->id, 'name' => 'editDir'))}{else}{$control->parent['fileTable']->link('doAction!', array('id' => $item->id, 'name' => 'editFile'))}{/if}"><i class="glyphicon glyphicon-edit"></i> {_Edit}</a></li>
				<li role="presentation" class="divider"></li>
				<li><a class="ajax" href="{plink delete! key2=>(($item instanceof \CmsModule\Content\Entities\DirEntity ? 'd_' : 'f_') . $item->id)}"><i class="glyphicon glyphicon-trash"></i> {_Delete}</a></li>
			</ul>
		</div>
		{/foreach}

{snippet form}
	{if $control->editForm}
		{var $form = $control[$control->editForm]}
    <div class="modal{if $form->type} {$form->type}{/if}" id="editForm" tabindex="-1" role="dialog" data-focus-on="input:first" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" onClick="$('#editForm').modal('hide')">×</a>

					<h3>{_$form->title}</h3>
				</div>
				<div class="modal-body">
					{snippet editForm}
						{control editForm}
					{/snippet}
				</div>
			</div>
		</div>
    </div>
    <script>
        $(function () {
            $('#editForm').modal().on('hide.bs.modal', function () {
                $.nette.ajax({ url: {link edit! editId=>NULL, editForm=>NULL}});
            });
        });
    </script>
		{elseif $control->createForm}
		{var $form = $control[$control->createForm]}
    <div class="modal{if $form->type} {$form->type}{/if}" id="createForm" tabindex="-1" role="dialog" data-focus-on="input:first" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" onClick="$('#createForm').modal('hide')">×</a>

					<h3>{_$form->title}</h3>
				</div>
				<div class="modal-body"
					{snippet createForm}
						{control createForm}
					{/snippet}
				</div>
			</div>
		</div>
    </div>
    <script>
        $(function () {
            $('#createForm').modal().on('hide.bs.modal', function () {
                $.nette.ajax({ url: {link create! createForm=>NULL}});
            });
        });
    </script>
	{/if}

{/snippet}
