#sortable.filebrowser {
	display: inline-block;
	width: 100%;
}
#sortable.filebrowser .item > a {
	color: #000000;
	width: 100px;
	height: 117px;
}
#sortable.filebrowser .item > a.img-thumbnail:hover {
	background: #dddddd;
	text-decoration: none;
}
#sortable.filebrowser .item > a div {
	word-break: break-all;
	margin-top: 5px;
}
#sortable.filebrowser .item {
	height: 120px;
	text-align: center;
	margin: 0 10px 10px 0;
	float: left;
}
#sortable.filebrowser .item > ul {
	margin-top: -10px;
	text-align: left;
}
