.flash.info {
    background: #eeeeee url('../img/flash/info.png') no-repeat;
    background-position: 25px 8px;
    border-color: #dddddd;
    padding: 15px 15px 15px 80px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.flash.warning {
    background: #ffaaaa url('../img/flash/warning.png') no-repeat;
    background-position: 25px 8px;
    border-color: #ff0000;
    padding: 15px 15px 15px 80px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.flash.success {
    background: #aaffaa url('../img/flash/success.png') no-repeat;
    background-position: 25px 8px;
    border-color: #00aa00;
    padding: 15px 15px 15px 80px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}