@font-face {
    font-family: oet;
    src: url('../../font/Ubuntu-R.ttf');
}

body {
	font: 13px/1.5 'ubuntu', helvetica, arial, sans-serif;
	background: #000000 url('./../images/bg-noise.gif') repeat;
	padding-top: 50px;
	padding-bottom: 40px;
}

input, button, select, textarea {
    font: 13px/1.5 'ubuntu', helvetica, arial, sans-serif;
}

p {
	font: 13px/1.5 'ubuntu', helvetica, arial, sans-serif;
}

a {
	color: #00a000;
	text-decoration: none;
}
a:hover {
	color: #005500;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 21px;
}
h3 {
    font-size: 17px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 13px;
}
h6 {
    font-size: 12px;
}

.page-header h1 {
    margin-top: 5px;
    margin-bottom: -7px;
	color: #ffffff;
}
.page-header {
	float: right;
	border: 0;
    margin: 0;
    width: 100%;
}

#ajax-spinner {
    position: fixed;
    z-index: 999999999;
    left: 50%;
    top: 50%;
    margin: -42px 0 0 -42px;
    background: #ffffff url('./../images/ajax-loader.gif') no-repeat 50% 50%;
    padding: 21px;
	border: 40px solid #ffffff;
    font-size: 0;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#toolbar {
	margin: 0;
    width: 100%;
}


#navigation .container,
#content.container,
#content .container
{
	max-width: inherit;
	width: inherit;
}

.nav-tabs > li > a {
    font-weight: bold;
    font-size: 13px;

	background-color: #00B700;
	background-image: -moz-linear-gradient(top, #00C400, #00A300);
	background-image: -ms-linear-gradient(top, #00C400, #00A300);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00C400), to(#00A300));
	background-image: -webkit-linear-gradient(top, #00C400, #00A300);
	background-image: -o-linear-gradient(top, #00C400, #00A300);
	background-image: linear-gradient(top, #00C400, #00A300);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c400', endColorstr='#00a300', GradientType=0);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #00A300 #00A300 #007000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);

    padding: 5px 6px;
}
.nav-tabs > li > a:hover {
	border-color: #00A000;
    background-image: -moz-linear-gradient(top, #00b300, #009200);
    background-image: -ms-linear-gradient(top, #00B300, #009200);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00B300), to(#009200));
    background-image: -webkit-linear-gradient(top, #00B300, #009200);
    background-image: -o-linear-gradient(top, #00B300, #009200);
    background-image: linear-gradient(top, #00B300, #009200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B300', endColorstr='#009200', GradientType=0);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #009200 #009200 #007000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.nav-tabs > li.active > a {
	text-shadow: none;
	background-image: none;
}


.sidebar-nav {
	padding: 9px 0;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.well {
	margin-top: 1px;
	background-color: #ffffff;
	border: 0;
	box-shadow: none;
}


.nav-list > .active > a, .nav-list > .active > a:hover {
	background-color: #00d000;
}


footer {
	color: #aaaaaa;
	text-align: center;
}

/* btn */
.btn-primary {
	background-color: #00B700;
	background-image: -moz-linear-gradient(top, #00C400, #00A300);
	background-image: -ms-linear-gradient(top, #00C400, #00A300);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00C400), to(#00A300));
	background-image: -webkit-linear-gradient(top, #00C400, #00A300);
	background-image: -o-linear-gradient(top, #00C400, #00A300);
	background-image: linear-gradient(top, #00C400, #00A300);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c400', endColorstr='#00a300', GradientType=0);
	border-color: #00A300 #00A300 #007000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #00A400;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 13px;
}
.btn {
    font-size: 13px;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu {
    font-size: 13px;
}


/* navigation */
.navigation.navbar {
	min-height: inherit;
}
.navigation .navbar-brand {
    padding: 0 20px 0 0;
    margin-left: 0;
}
.navigation.navbar .navbar-collapse {
    background: #000000 url('./../images/admin-panel.png') repeat;
    height: 42px;
}
.navigation.navbar .nav > li > a {
    color: #888888;
    text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navigation.navbar .nav > li > a:hover {
    color: #bbbbbb;
}
.navigation ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}
.navigation ul.nav li.dropdown ul.dropdown-menu{
	margin-top: -1px;
}
.navigation ul.nav li.dropdown ul.dropdown-menu a{
	font-size: 110%;
	color: #dddddd;
	/*font-weight: bold;*/
}
.navigation ul.nav li.dropdown ul.dropdown-menu a span{
	margin: 5px 0;
	display: block;
	font-weight: normal;
	font-size: 80%;
	color: #888888;
}
.navigation ul.nav li.dropdown ul.dropdown-menu:before {
    display: none;
}
.navigation ul.nav li.dropdown ul.dropdown-menu:after {
    display: none;
}
.navigation ul.nav li.dropdown.open .dropdown-toggle {
	color: #ffffff;
	background: #ccc;
	background: rgba(0, 0, 0, 0.3);
}
.navigation ul.nav li.dropdown.open,
.navigation ul.nav li.dropdown:hover{
	background-color: #222222;
}
.navigation ul.nav li.dropdown:hover a {
    color: #bbbbbb;
}



.navigation .topbar div > ul.secondary-nav .menu-dropdown,
.navigation .nav.secondary-nav .menu-dropdown,
.navigation .topbar div > ul.secondary-nav .dropdown-menu,
.navigation .nav.secondary-nav .dropdown-menu {
	right: 0;
	border: 0;
}
.navigation .topbar div > ul a.menu:hover,
.navigation .nav a.menu:hover,
.navigation .topbar div > ul li.open .menu,
.navigation .nav li.open .menu,
.navigation .topbar div > ul .dropdown-toggle:hover,
.navigation .nav .dropdown-toggle:hover,
.navigation .topbar div > ul .dropdown.open .dropdown-toggle,
.navigation .nav .dropdown.open .dropdown-toggle {
	background: #444;
	background: rgba(255, 255, 255, 0.05);
}
.navigation .topbar div > ul .menu-dropdown,
.navigation .nav .menu-dropdown,
.navigation .topbar div > ul .dropdown-menu,
.navigation .nav .dropdown-menu {
	background-color: #333;
}
.navigation .topbar div > ul .menu-dropdown a.menu,
.navigation .nav .menu-dropdown a.menu,
.navigation .topbar div > ul .dropdown-menu a.menu,
.navigation .nav .dropdown-menu a.menu,
.navigation .topbar div > ul .menu-dropdown .dropdown-toggle,
.navigation .nav .menu-dropdown .dropdown-toggle,
.navigation .topbar div > ul .dropdown-menu .dropdown-toggle,
.navigation .nav .dropdown-menu .dropdown-toggle {
	color: #ffffff;
}
.navigation .topbar div > ul .menu-dropdown li a,
.navigation .nav .menu-dropdown li a,
.navigation .topbar div > ul .dropdown-menu li a,
.navigation .nav .dropdown-menu li a {
	color: #999;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.navigation .topbar div > ul .menu-dropdown li a:hover,
.navigation .nav .menu-dropdown li a:hover,
.navigation .topbar div > ul .dropdown-menu li a:hover,
.navigation .nav .dropdown-menu li a:hover {
	background-color: #191919;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#292929), to(#191919));
	background-image: -moz-linear-gradient(top, #292929, #191919);
	background-image: -ms-linear-gradient(top, #292929, #191919);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919));
	background-image: -webkit-linear-gradient(top, #292929, #191919);
	background-image: -o-linear-gradient(top, #292929, #191919);
	background-image: linear-gradient(top, #292929, #191919);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#191919', GradientType=0);
	color: #ffffff;
}
.navigation .topbar div > ul .menu-dropdown .active a,
.navigation .nav .menu-dropdown .active a,
.navigation .topbar div > ul .dropdown-menu .active a,
.navigation .nav .dropdown-menu .active a {
	color: #ffffff;
}
.navigation .topbar div > ul .menu-dropdown .divider,
.navigation .nav .menu-dropdown .divider,
.navigation .topbar div > ul .dropdown-menu .divider,
.navigation .nav .dropdown-menu .divider {
	background-color: #222;
	border-color: #444;
}
.navigation.navbar .divider-vertical {
    border-right: 0;
    border-left: 1px solid #222222;
}


/* dynatree */
span.dynatree-empty, span.dynatree-vline, span.dynatree-connector, span.dynatree-expander, span.dynatree-icon, span.dynatree-checkbox, span.dynatree-radio, span.dynatree-drag-helper-img, #dynatree-drop-marker {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("icons.gif");
	background-position: 0 0;
}


/* Forms */
.form-horizontal .control-group {
	margin-bottom: 10px;
}
.form-horizontal .controls label {
	margin: 0 0 0 10px;
}
.form-horizontal .full .controls {
    margin-left: 0px;
}
.form-horizontal .select2-container {
	padding: 0;
}
.form-horizontal .select2-container .select2-choices {
	border: 0;
}
.form-horizontal .select2-container input {
	height: 24px;
}


/* Files */
#sortable.filebrowser {
	display: inline-block;
	width: 100%;
}
#sortable.filebrowser .item > a {
	color: #000000;
	width: 100px;
	height: 117px;
}
#sortable.filebrowser .item > a.img-thumbnail:hover {
    background: #dddddd;
	text-decoration: none;
}
#sortable.filebrowser .item > a div {
	word-break: break-all;
	margin-top: 5px;
}
#sortable.filebrowser .item {
	height: 120px;
	text-align: center;
	margin: 0 10px 10px 0;
	float: left;
}
#sortable.filebrowser .item > ul {
	margin-top: -10px;
	text-align: left;
}



 /*  */
#dynatree-drop-marker
{
   margin-top: -56px !important;
}


form fieldset:first-of-type legend {
	float: left;
	margin-top: 10px;
}
.form-group {
	margin-bottom: 6px;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selected {
    font-size: 13px;
}

.dropdown-menu {
    z-index: 1080;
}

.input-append .add-on, .input-prepend .add-on {
    padding: 2px 5px;
}


.glyphicon-white{
	color: #fff;
}


.table .btn-group > .btn {
	float: inherit;
}
.table .actions, .table .btn-group {
	white-space: nowrap;
}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


#panel {
	width: 320px;
	margin-top: 7px;
	margin-left: 0px;
	position: fixed;
	padding: 0;
	z-index: 1020;
}
#panel > div {
	padding: 0 10px 0 10px;
}
#panel .btn-toolbar {
	height: 40px;
}
#panel ul.dynatree-container {
	background-color: transparent;
}

.content > div {
	margin: 0;
}
.content > div > div {
	padding: 0;
}
.content .content-inner {
	max-width: inherit;
}
.content .content-inner .breadcrumb {
	margin: 2px 0 -17px 0;
	padding: 8px 15px 12px 15px;
	background-color: #ffffff;
}

.container.container-full {
	max-width: inherit;
	padding: 0;
}

#panel .panel-container {
	padding-right: 0px;
	overflow: auto;
	margin-top: 40px;
	width: inherit;
}
#panel .btn-toolbar {
	position: absolute;
	width: 280px;
	margin-top: -40px;
}
