body {
    font-size: 12px;
}
.nav-tabs > li > a {
    font-size: 12px;
}
ul.dynatree-container {
    font-size: 12px;
}
span.dynatree-node a {
    font-size: 12px !important;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu {
    font-size: 12px;
}
.btn {
    font-size: 12px;
}
label, input, button, select, textarea {
    font-size: 12px;
}
#navigation ul.nav li.dropdown ul.dropdown-menu a {
    font-size: 100%;
}


#snippet--content {
    padding: 10px;
}


.table tbody td {
    padding: 5px;
}
.table td.table-td-action {
    padding: 2px;
}


/* forms */
.form-horizontal .control-group {
    margin-bottom: 2px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 12px;
}
legend {
    font-size: 18px;
    font-weight: bold;
}
.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block {
    padding-top: 1px;
    font-size: 12px;
}