
<img n:if="$image" n:src="$image->getFileUrl(true), size => (($width || $height) ? $width . 'x'. $height : NULL), format => $format, type => $type ? $type : 'default'"{if $alt} alt="{$alt}"{/if} />
