<div class="hide">
	<input id="{!$control->name}-fileupload" type="file" name="files[]" data-url="{link upload!}" multiple>
</div>

<script>
	$(function () {
		$('#{!$control->name}-fileupload').fileupload({
			dataType: 'json',
			done: function (e, data) {
				$.nette.ajax({
					url: {link success!}
				});
			}
		});
	});
</script>
