{block header}
	{_'Files and attachements'}
{/block}

{block toolbar}
{/block}

{block breadcrumb}
	{include #parent}
	<li class="active">{include #header}</li>
{/block}

{block content}

{control fileBrowser}
