{block content}

<h2>Notifikace: {$notification->notification->type->type} - {$notification->notification->type->action}</h2>

<p>
	Dobrý den,<br /><br />

	{$notification->notification->type->message}
</p>

<p>
	<small class="text-muted">
		{$notification->notification->created|date:'d.m H:i'}
	</small>
</p>
