<li n:if="$presenter->isAuthorized('Default:')"{if $presenter->name == 'Notifications:Admin:Default'} class="active"{/if}><a class="ajax" href="{link Default:}">{_'Notifications'}</a></li>
<li n:if="$presenter->isAuthorized('Settings:')"{if $presenter->name == 'Notifications:Admin:Settings'} class="active"{/if}><a class="ajax" href="{link Settings:}">{_'Settings'}</a></li>
