{snippet content}
{control flashMessage}

{if $control->provider}
	{control providerForm}
{elseif $control->reset}
	{control resetForm}
{elseif $control->key}
	{control confirmForm}
{else}
	{control form}
{/if}

{if !$control->key && !$control->reset}
<hr />

<div class="row">
	<div class="col-sm-9 col-sm-offset-3">
		<a class="ajax" n:href="this reset => TRUE">{_'forgot password'}</a>
	</div>
</div>
{/if}
{/snippet}
