{**
 * Venne:CMS layout template.
 *
 * @copyright  Copyright (c) 2011, 2012 Josef Kříž 
 *
 * @param string   $basePath	web base path
 * @param array    $flashes		flash messages
 *}
<!DOCTYPE html>
<html>
	{head}

		{* jquery *}
		{js @CmsModule/jquery/js/jquery-1.7.2.min.js}
		{js @CmsModule/jquery/js/jquery-ui-1.8.23.custom.min.js}
		{css @CmsModule/jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css, media=>'screen, projection, tv'}

		{* jquery plugins *}
		{js @CmsModule/admin/js/jquery.contextMenu.js}
		{css @CmsModule/admin/css/jquery.contextMenu.css}

		{* bootstrap *}
		{js @CmsModule/bootstrap/js/bootstrap.min.js}
		{css @CmsModule/bootstrap/css/bootstrap.min.css}

		{* ajax *}
		{js @CmsModule/ajax/nette.ajax.js}
		{js @CmsModule/ajax/spinner.ajax.js}

		{* application *}
		{js @CmsModule/admin/js/netteForms.js}
		{js @CmsModule/admin/js/application.js}
		{css @CmsModule/admin/css/style.css}


		{* forms *}
		{js @FormsModule/tag/tag.js}
		{css @FormsModule/tag/tagInput.css}

		{css @FormsModule/date/dateInput.css}
		{js @FormsModule/date/jquery-ui-timepicker-addon.js}
		{js @FormsModule/date/dateInput.js}
		{js @FormsModule/date/date.js}

		{js @FormsModule/dependentSelectBox/dependentSelectBox.js}

		{js @FormsModule/textWithSelect/textWithSelect.js}

	{/head}

	{body}


		{* Top navigation *}
		<div class="navbar navbar-fixed-top" id="navigation">
			<div class="navbar-inner">
				<div class="container-fluid" n:snippet="navigation">

					<a class="ajax brand" href="{$presenter->link(':Cms:Admin:' . $presenter->context->parameters['administration']['defaultPresenter'] . ':')}"><img src="{$basePath}/resources/cmsModule/admin/images/logo-panel.png" alt="Venne:CMS" style="margin: -10px 0px;" /></a>

					<div class="nav-collapse">

						{if $presenter->user->isLoggedIn() && !isset($hideMenuItems)}
						<ul class="nav">
							{var pages=>$presenter->getContext()->cms->administrationManager->getAdministrationNavigation()}
							{foreach $pages as $category=>$items}
								{var ok=>false}
								{capture $nav}
								<li class="dropdown">
									<a class="dropdown-toggle" href="javaScript:;" data-toggle="dropdown">{_$category}</a>

									<ul class="dropdown-menu">
										{foreach $items as $link=>$item}
											{if $presenter->isAuthorized(':' . $link)}
											{var ok=>true}
											<li class="{if $presenter->isLinkCurrent($link)}active{/if}">
												<a class="ajax" href="{plink :$link}">{_$item['name']}{if isset($item["description"]) && $item["description"]}<span>{_$item["description"]}</span>{/if}</a>
											</li>
											{/if}
										{/foreach}
									</ul>
								</li>
								{/capture}
								{if $ok}{!$nav}{/if}
							{/foreach}
						</ul>

						<ul class="nav pull-right">
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{if $presenter->user->identity instanceof \CmsModule\Security\Entities\UserEntity}{$presenter->user->identity}{else}{$presenter->user->identity->id}{/if} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="nav-header">{_'Actions'}</li>
								<li n:if="$presenter->isAllowed(':Cms:Admin:Users:edit')"><a class="ajax" href="{if $presenter->user->identity instanceof \CmsModule\Entities\UserEntity}{link :Cms:Admin:Users:edit id=>$presenter->user->identity->id}{else}{link :Cms:Admin:Application:account}{/if}">{_'Account settings'}</a></li>
								<li><a href="{link logout!}">{_'Log out'}</a></li>
							</ul>
							</li>
						</ul>
						{/if}

						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$presenter->lang} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="nav-header"></li>
									<li><a n:href="this lang=>cs">cs</a></li>
									<li><a n:href="this lang=>en">en</a></li>
								</ul>
							</li>
						</ul>

						{if $presenter->user->isLoggedIn() && !isset($hideMenuItems)}
						<ul class="nav pull-right">
							<li>
								<a href="{$basePath}/">{_'Show website'}</a>
							</li>
						</ul>
						{/if}

					</div>
				</div>
			</div>
		</div>

		{* Center *}
		<div class="container-fluid" style="min-width: 990px;">
			<div class="row-fluid">

				{if $presenter->user->isLoggedIn() && $presenter->context->doctrine->createCheckConnection() && !isset($hideMenuItems)}
				<div class="span4" style="width: 320px; margin-top: 7px; {*position: fixed;*}">
					{control panel}
				</div>
				{/if}

				<div class="content" style="margin-left: 330px;">
					<div class="row-fluid">
						<div class="span12">

							<div class="page-header" n:snippet="header">
								<h1>{block #header}Header{/block}</h1>
							</div>

							{* content *}
							<div class="container-fluid" n:snippet="toolbar">
								<ul id="toolbar" class="nav nav-tabs  pull-right" style="margin-bottom: -0px; border-bottom: 0;">
								{block #toolbar}
								{/block}
								</ul>
							</div>
							<div class="well" n:snippet="content">
								{foreach $flashes as $flash}
								<div class="alert alert-{$flash->type}">
									<a class="close" data-dismiss="alert">×</a>
									{$flash->message}
								</div>
								{/foreach}
								{include #content}
							</div>

							{* footer *}
							<footer>
								<p>
									<span>Copyright © 2011 - 2012 Josef Kříž</span> | <span>version {=\Venne\Framework::VERSION}</span>{if !$presenter instanceof \Venne\Application\UI\InstallationPresenter} | <span><a class="ajax" href="{link :Cms:Admin:About:}">{_'about'} Venne:CMS</a></span>{/if}
								</p>
							</footer>

						</div>
					</div>
				</div>
			</div>
		</div>

	{/body}
</html>
