{**
 * Venne:CMS layout template.
 *
 * @copyright  Copyright (c) 2011, 2012 Josef Kříž 
 *
 * @param string   $basePath	web base path
 * @param array    $flashes		flash messages
 *}
<!DOCTYPE html>
<html>
	{head}
		{js @CmsModule/js/jquery/jquery-1.6.4.min.js}
		{js @CmsModule/js/jquery/jquery-ui-1.8.16.custom.min.js}
		{js @CmsModule/js/jquery.nette.js}
		{js @CmsModule/js/netteForms.js}
		{js @CmsModule/js/jquery.ajaxform.js}
		{js @CmsModule/js/venne.js}
		{css @CmsModule/css/jquery-ui-1.8.16.custom.css, media=>'screen, projection, tv'}
	
		{js @CmsModule/admin/js/admin.js, media=>'screen, projection, tv'}
		{css @CmsModule/admin/css/style.css, media=>'screen, projection, tv'}
		{css @CmsModule/admin/css/form.css, media=>'screen, projection, tv'}
	{/head}

	{body}
	<div id="page">
		<div id="top">
			{if !$presenter instanceof \Venne\Application\UI\InstallationPresenter}<a href="{link :Cms:Admin:Default:}">{/if}
				<div id="logo"></div>
			{if !$presenter instanceof \Venne\Application\UI\InstallationPresenter}</a>{/if}
			<div id="menu">
				{if !isset($hideMenuItems) && $presenter->context->createCheckConnection() && !$presenter->context->cms->moduleManager->checkModuleUpgrades()}
				<ul>
					{if $presenter->isAllowed(":Cms:Admin:Website:Default:")}<li><a class="{if $presenter->isLinkCurrent(":Cms:Admin:Website:*")}active{/if}" href="{plink :Cms:Admin:Website:Default:}">Website settings</a></li>{/if}
					{if $presenter->isAllowed(":Cms:Admin:Modules:Default:")}<li><a class="{if $presenter->isLinkCurrent(":Cms:Admin:Modules:*")}active{/if}" href="{plink :Cms:Admin:Modules:Default:}">Module settings</a></li>{/if}
					{if $presenter->isAllowed(":Cms:Admin:Security:Default:")}<li><a class="{if $presenter->isLinkCurrent(":Cms:Admin:Security:*")}active{/if}" href="{plink :Cms:Admin:Security:Default:}">Security settings</a></li>{/if}
					{if $presenter->isAllowed(":Cms:Admin:System:Default:")}<li><a class="{if $presenter->isLinkCurrent(":Cms:Admin:System:*")}active{/if}" href="{plink :Cms:Admin:System:Default:}">System settings</a></li>{/if}
				</ul>
				{/if}
			</div>
		</div>
		<div id="middle">
			<div id="middle-left">
				<div id="submenu">
					{if !isset($hideMenuItems) && $presenter->context->createCheckConnection() && !$presenter->context->cms->moduleManager->checkModuleUpgrades()}
						<h3>Modules settings</h3>
						<ul>
						{foreach $adminMenu as $item}
							{if $presenter->isAllowed($item->link)}
							<li class="{if $presenter->isLinkCurrent($item->mask)}active{/if}"><a href="{$presenter->link($item->link)}">{$item->name}</a>
								{if count($item->childrens) > 0}
								<ul>
								{foreach $item->childrens as $item2}
									{if $presenter->isAllowed($item2->link)}
									<li class="{if $presenter->isLinkCurrent($item2->mask)}active{/if}"><a href="{$presenter->link($item2->link)}">{$item2->name}</a></li>
									{/if}
								{/foreach}
								</ul>
								{/if}
							</li>
							{/if}
						{/foreach}
						<ul>
					{/if}
				</div>
			</div>
			<div id="content">
				{if $presenter->context->hasService("navigationModule")}
				{if !isset($hideMenuItems)}{control navigation:path}{/if}
				{/if}
				{foreach $flashes as $flash}<div class="flash {$flash->type}">{$flash->message}</div>{/foreach}
				{include #content}
			</div>
		</div>
		<div id="bottom">
			<span>Copyright © 2011 - 2012 Josef Kříž</span> | <span>version {=VENNE_VERSION_ID} {=VENNE_VERSION_STATE}</span>{if !$presenter instanceof \Venne\Application\UI\InstallationPresenter} | <span><a href="{link :Cms:Admin:About:}">about Venne:CMS</a></span>{/if}
		</div>
	</div>
	{/body}
</html>