<ul class="nav" n:snippet="navigation">

	{var pages=>$presenter->getContext()->cms->administrationManager->getAdministrationPages()}
	{foreach $pages as $category=>$items}
		<li class="dropdown">
			<a class="dropdown-toggle" href="javaScript:;" data-toggle="dropdown">{_$category}</a>
		
			<ul class="dropdown-menu">
			{foreach $items as $link=>$item}
				<li class="{if $presenter->isLinkCurrent($link)}active{/if}">
					<a href="{plink :$link}">{_$item['name']}{if isset($item["description"]) && $item["description"]}<span>{_$item["description"]}</span>{/if}</a>
				</li>
			{/foreach}
			</ul>
		</li>
	{/foreach}

</ul>

