{block #page-content}

{control pagination, config => [ variant => '@menu.route' ]}
{control itemList $control->getItemsBuilder()->leftJoin('a.page', 'p')->orderBy('p.position', 'ASC')->getQuery()->getResult(), config => [ variant => '@menu.route' ]}
{control pagination, config => [ variant => '@menu.route' ]}
