{block #page-content}

{control pagination, config => [ variant => '@menu.route' ]}
{control itemList $control->getItemsBuilder()->orderBy('a.name', 'ASC')->getQuery()->getResult(), config => [ variant => '@menu.route' ]}
{control pagination, config => [ variant => '@menu.route' ]}
