{block #page-content}

{cache $presenter->routeId, tags => [
	'page-' . $presenter->pageId,
	'route-' . $presenter->routeId,
	'language-' . $presenter->lang,
]}
{control itemList $control->getItemsBuilder()->orderBy('r.released', 'ASC')->getQuery()->getResult(), config => [ variant => '@rss.route' ]}
{/cache}
