{define #page-content}

	{control form}

	{if $presenter->search}
		<h2>{_Results}</h2>

		{control vp}
		{control itemList $control->getItemsBuilder()->orderBy('a.name', 'ASC')->getQuery()->getResult()}
		{control vp}
	{/if}

{/define}
