{block #page-content}

{control pagination, config => [ variant => '@tags.tag' ]}
{control itemList $control->getItemsBuilder()->orderBy('a.name', 'ASC')->getQuery()->getResult(), config => [ variant => '@tags.tag' ]}
{control pagination, config => [ variant => '@tags.tag' ]}
