{**
 * Venne:CMS layout template.
 *
 * @copyright  Copyright (c) 2011, 2012 Josef Kříž 
 *
 * @param string   $basePath	web base path
 * @param array    $flashes		flash messages
 *}
<!DOCTYPE html>
<html>
	{head}

		{* jquery *}
		{js @CmsModule/jquery/js/jquery-1.9.1.min.js}
		{js @CmsModule/jquery/js/jquery-migrate-1.1.1.min.js}
		{js @CmsModule/jquery/js/jquery-ui-1.10.1.custom.min.js}
		{css @CmsModule/jquery/css/ui-lightness/jquery-ui-1.10.1.custom.css, media=>'screen, projection, tv'}

		{* jquery plugins *}
		{js @CmsModule/admin/js/jquery.contextMenu.js}
		{css @CmsModule/admin/css/jquery.contextMenu.css}

		{js @CmsModule/multi-select/js/jquery.multi-select.js}
		{css @CmsModule/multi-select/css/multi-select.css}

		{js @CmsModule/stringToSlug/jquery.stringToSlug.min.js}

		{js @CmsModule/iframe-post-form/jquery.iframe-post-form.js}
		{js @CmsModule/typing/jquery.typing-0.2.0.min.js}

		{* nette *}
		{js @CmsModule/admin/js/netteForms.js}

		{* bootstrap *}
		{js @CmsModule/bootstrap/js/bootstrap.min.js}
		{css @CmsModule/bootstrap/css/bootstrap.min.css}

		{* ajax *}
		{js @CmsModule/ajax/nette.ajax.js}
		{js @CmsModule/ajax/spinner.ajax.js}

		{* forms *}
		{js @FormsModule/jquery-tags-input/jquery.tagsinput.min.js}
		{css @FormsModule/jquery-tags-input/jquery.tagsinput.css}

		{css @FormsModule/datepicker/css/datepicker.css}
		{js @FormsModule/datepicker/js/bootstrap-datepicker.js}

		{js @FormsModule/textWithSelect/textWithSelect.js}

		{* application *}
		{js @CmsModule/admin/js/application.js}
		{if $presenter->mode == $presenter::MODE_EDIT}{js @CmsModule/admin/js/panel.js}{/if}
		{css @CmsModule/admin/css/style.css}
		{if $presenter->mode == $presenter::MODE_NORMAL}{css @CmsModule/admin/css/background.css}{/if}
		{if $presenter->compact}{css @CmsModule/admin/css/style_compact.css}{/if}

		{* Grido *}
		{js @CmsModule/grido/js/jquery.hashchange.min.js}
		{js @CmsModule/grido/js/jquery.maskedinput.min.js}
		{js @CmsModule/grido/js/jquery.grido.js}
		{css @CmsModule/grido/css/grido.css}

	{/head}

	{body}

		{* Top navigation *}
		<div class="navbar navbar-fixed-top navbar-inverse navigation" n:snippet="navigation">
			<div class="navbar-inner">
				<div class="container-fluid">

					<a class="{if $presenter->mode == $presenter::MODE_NORMAL}ajax {/if}brand" href="{$presenter->link(':Cms:Admin:' . $presenter->context->parameters['administration']['defaultPresenter'] . ':')}"><img src="{$basePath}/resources/cmsModule/admin/images/logo-panel.png" alt="Venne:CMS" /></a>

					<div class="nav-collapse">

					{if $presenter->user->isLoggedIn() && !isset($hideMenuItems)}
						<ul class="nav">
						{if $presenter->mode == $presenter::MODE_NORMAL}
							{var pages=>$presenter->getContext()->cms->administrationManager->getAdministrationNavigation()}
							{foreach $pages as $category=>$items}
								{var ok=>false}
								{capture $nav}
								<li class="dropdown">
									<a class="dropdown-toggle" href="javaScript:;" data-toggle="dropdown">{_$category}</a>

									<ul class="dropdown-menu">
										{foreach $items as $link=>$item}
											{if $presenter->isAuthorized(':' . $link)}
											{var ok=>true}
											<li>
												<a class="ajax" href="{plink :$link}">{_$item['name']}{if isset($item["description"]) && $item["description"]}<span>{_$item["description"]}</span>{/if}</a>
											</li>
											{/if}
										{/foreach}
									</ul>
								</li>
								{/capture}
								{if $ok}{!$nav}{/if}
							{/foreach}
						{/if}
						</ul>

						{if $presenter->mode == $presenter::MODE_EDIT}
							<ul class="nav">
								<li>
									<a id="venne-panel-edit" href="javascript:;"><span class="icon-edit icon-white"></span> {_'Edit mode'}</a>
								</li>
								<li>
									<a id="venne-panel-close" href="javascript:;"><span class="icon-off icon-white"></span> {_'Close edit mode'}</a>
								</li>
								<li class="divider-vertical"></li>
								<li>
									<a id="venne-panel-button-edit" href="javascript:;"><span class="icon-edit icon-white"></span> {_'Edit layout'}</a>
								</li>
								<li>
									<a id="venne-panel-button-save" href="javascript:;"><span class="icon-ok icon-white"></span> {_'Save layout'}</a>
								</li>
							</ul>

							<ul class="nav pull-right">
								<li>
									<a id="venne-panel-button-close" href="#"><i class="icon-remove icon-white"></i> {_'close'} <b class="caret"></b></a>
								</li>
							</ul>
						{/if}

						<ul class="nav pull-right">
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-user icon-white"></span> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="nav-header">{_'Actions'}</li>
								<li n:if="$presenter->isAuthorized(':Cms:Admin:Account:')"><a class="{if $presenter->mode == $presenter::MODE_NORMAL}ajax{/if}" href="{link :Cms:Admin:Account:}"><i class="icon-user icon-white"></i> {_'User card'}</a></li>
								<li><a href="{link logout! mode=>NULL}"><i class="icon-off icon-white"></i> {_'Log out'}</a></li>
							</ul>
							</li>
						</ul>

						{if $presenter->mode == $presenter::MODE_NORMAL}
						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="nav-header"></li>
									<li><a n:href="this lang=>cs">cs</a></li>
									<li><a n:href="this lang=>en">en</a></li>
								</ul>
							</li>
						</ul>
						{/if}

						{if $presenter->user->isLoggedIn() && !isset($hideMenuItems)}
						<ul class="nav pull-right">
							<li>
							{if $presenter->mode == $presenter::MODE_NORMAL}
								<a href="{$basePath}/"><i class="icon-refresh icon-white"></i> </a>
								{elseif $presenter->mode == $presenter::MODE_EDIT}
								<a href="{$presenter->link(':Cms:Admin:' . $presenter->context->parameters['administration']['defaultPresenter'] . ':', array('mode'=>NULL))}"><i class="icon-refresh icon-white"></i> {_'Show administration'}</a>
							{/if}
							</li>
						</ul>
						{/if}

						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-eye-open icon-white"></i> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="nav-header"></li>
									<li><a n:href="this compact=>false">{_normal}</a></li>
									<li><a n:href="this compact=>true">{_compact}</a></li>
								</ul>
							</li>
						</ul>
					{/if}

					</div>
				</div>
			</div>
		</div>

		{* Center *}
		{if $presenter->mode == $presenter::MODE_NORMAL}
		<div class="container-fluid" style="min-width: 990px;">
			<div class="row-fluid">

				{if $presenter->user->isLoggedIn() && $presenter->context->doctrine->createCheckConnection() && !isset($hideMenuItems)}
				{var _panel=>true}
				<div id="panel" class="span4" style="width: 320px; margin-top: 3px; margin-left: 0; position: fixed;">
					{control panel}
				</div>
				{/if}

				<div id="content" class="content"{if isset($_panel)} style="margin-left: 330px;"{/if}>
					<div class="row-fluid">
						<div class="span12">

							<div class="container-fluid" style="margin-bottom: -15px;">
								<div class="row-fluid">
									<div class="span12">
										<div class="page-header pull-right" n:snippet="header">
											{block #breadcrumb-container}
											<ul class="breadcrumb pull-right" style="margin: 0px; padding: 8px 15px 12px 15px; background-color: #ffffff;">
												{block #breadcrumb}
												<li><span class="divider">{_Path}:</span> <a class="ajax" href="{$presenter->link(':Cms:Admin:' . $presenter->context->parameters['administration']['defaultPresenter'] . ':')}"><span class="icon icon-globe"></span> {_Dashboard}</a></li>
												{/block}
											</ul>
											{/block}
											<h1 class="pull-left" style="margin: -5px 0 0 0px;">{block #header}{/block}</h1>
										</div>
									</div>
								</div>
							</div>

							{* content *}
							<div class="well" n:snippet="content">

								{foreach $flashes as $flash}
									<div class="alert alert-{$flash->type}">
										<a class="close" data-dismiss="alert">×</a>
										{$flash->message}
									</div>
								{/foreach}

								{block #toolbar}
								<ul id="toolbar" class="nav nav-tabs">
									{block #toolbar-items}{/block}
								</ul>
								{/block}
								{include #content}
							</div>

							{* footer *}
							<footer>
								<p>
									<span>Copyright © 2011 - 2013 Josef Kříž</span> | <span>version {=\Venne\Framework::VERSION}</span>{if !$presenter instanceof \Venne\Application\UI\InstallationPresenter} | <span><a class="ajax" href="{link :Cms:Admin:About:}">{_'about'} Venne:CMS</a></span>{/if}
								</p>
							</footer>

						</div>
					</div>
				</div>
			</div>
		</div>
		{else}
			{include #content}
		{/if}

	{/body}
</html>
