{block #header}Finish{/block}

{block content}



	<p>
		Thank you for your interesting
	</p>
	
	<h3>website</h3>
	<a href="{$websiteUrl}">{$websiteUrl}</a>
	
	<h3>administration</h3>
	<a href="{$websiteUrl}admin/">{$websiteUrl}admin/</a>
	
