{* This is temporary page, you can delete it *}

{block header}
	Website settings
{/block}

{block toolbar}
	<li class="active"><a href="#">Meta info</a></li>
	<li><a href="#">Default links</a></li>
	<li><a href="#">Routing</a></li>
{/block}

{block content}
{control websiteForm}