body {
	background: none;
}
.venne-panel-block {
	position: absolute;
	border: 1px solid #00bb00;
	background-color: rgba(0, 200, 0, 0.5);
	color: #ffffff;
	min-height: 20px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
.venne-panel-block > div {
	display: none;
}
.venne-panel-block:hover > div {
	display: block;
}