{extends ../@email.latte}

{block content}

<h2>Obnova hesla</h2>

<p>
	Dobrý den,<br /><br />

	vyžádal jste si obnovení hesla. Pro zadání nového hesla prosím pokračujte na tuto adresu:
</p>

<p>
	obnova hesla: <a href="{$url}">{$url}</a>
</p>
