<li n:if="$presenter->isAuthorized('Default:')"{if $presenter->name == 'Admin:Queue:Default'} class="active"{/if}><a class="ajax" href="{link Default:}">{_'Workers'}</a></li>
<li n:if="$presenter->isAuthorized('Jobs:')"{if $presenter->name == 'Admin:Queue:Jobs'} class="active"{/if}><a class="ajax" href="{link Jobs:}">{_'Jobs'}</a></li>
