{block header}
	{_'Log browser'}
{/block}

{block toolbar}
{/block}

{block breadcrumb}
	{include #parent}
	<li class="active">{include #header}</li>
{/block}

{block content}

{if $presenter->isAuthorized('deleteAll!')}
	{control navbar}
{/if}

{control table}
