{block header}
	{_'About Venne:CMS'}
{/block}

{block toolbar}
{/block}

{block breadcrumb}
	{include #parent}
	<li class="active"><span class="divider">/</span> {include #header}</li>
{/block}

{block content}

<h2>Versions</h2>

<dd>Venne:FRAMEWORK</dd><dd>{=\Venne\Framework::VERSION}</dd>
<dd>Venne:CMS</dd><dd>{=$presenter->context->parameters['modules']['cms']['version']}</dd>

<h2>Author</h2>

Josef Kříž <pre>pepakriz@gmail.com</pre>
