{block header}
	{_'Application settings'}
{/block}

{block toolbar-items}
	{include "./head.latte"}
{/block}

{block breadcrumb}
	{include #parent}
	<li class="active">{include #header}</li>
{/block}

{block content}

{control accountForm}
