{var $count = $control->countComments()}

<div n:snippet="chat-container" class="chat-container" style="position: fixed; bottom: 0; right: 0;">
	{if isset($chat)}{control chat-$chat}{/if}
</div>

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<i class="glyphicon glyphicon-envelope"></i> <span class="badge">{$count}</span>
</a>

<div id="comments-{!$control->name}" class="dropdown-menu list-group notification-container">
	<div role="presentation" class="dropdown-header">
		<i class="glyphicon glyphicon-envelope"></i>
		{_'%count% comments', $count}
	</div>

	<div class="list-group notification-list-group">
		<div n:foreach="$control->comments as $comment" class="list-group-item">
			{include #comment comment => $comment}
		</div>
	</div>

	<a class="ajax list-group-item text-right" href="{plink :Comments:Admin:}">
		{_'See all messages'} <i class="glyphicon glyphicon-chevron-right"></i>
	</a>
</div>

<script type="text/javascript">
	$(function(){
		$('#comments-{!$control->name}').on('click', function(e) {
			e.stopPropagation();
		});
		$('#comments-{!$control->name} a.notification-close').on('click', function(e) {
			$(this).closest('.list-group-item').slideUp(400, function() {
				$(this).remove();
			});
		});
	});
</script>

{define comment}
<div class="media">
	<a n:href="remove $comment->id" class="ajax close notification-close" data-dismiss="alert" aria-hidden="true">&times;</a>

	<a class="pull-left" href="#">
		<img style="width: 42px; height: 42px;" class="media-object img-circle" src="http://www.gravatar.com/avatar/{md5(strtolower(trim($comment->author->email)))}" alt="$comment->author">
	</a>
	<div class="media-body">
		<h4 class="media-heading">
			{$comment->author}
		</h4>

		<small class="text-muted">
			<i class="fa fa-clock-o"></i> {$comment->created|date:'d.m H:i'}
		</small>

		<a class="ajax" n:href="openChat! tag => $comment->tag">
			<span>{$comment->text}</span><br />
		</a>
	</div>
</div>
{/define}
