{var $count = count($jobs)}

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<i class="fa fa-tasks"></i> <span class="badge">{$jobCount}</span>
</a>

<div id="jobs-{!$control->getName()}" class="dropdown-menu list-group notification-container">
	<div role="presentation" class="dropdown-header">
		<i class="fa fa-tasks"></i>
		{_'%count% jobs', $jobCount}
	</div>

	<div class="list-group notification-list-group" n:snippet="content" data-ajax-append>
		<div n:foreach="$jobs as $job" class="list-group-item">
			{control job-{$job->getId()}}
		</div>
	</div>

	<a class="ajax list-group-item text-right" href="{plink :Admin:Queue:Jobs:}">
		{_'See all jobs'} <i class="glyphicon glyphicon-chevron-right"></i>
	</a>
</div>

{snippet js}
<script type="text/javascript">
	$(function(){
		$('#jobs-{!$control->getName()}').on('click', function(e) {
			e.stopPropagation();
		});
		$('#jobs-{!$control->getName()} a.notification-close').on('click', function(e) {
			$(this).closest('.list-group-item').slideUp(400, function() {
				$(this).remove();
			});
		});

		var $list = $('#jobs-{!$control->getName()} .notification-list-group');
		$list.on('scroll.notifications', function () {
			var $this = $(this);

			if ($this.scrollTop() + $this.height() >= $this[0].scrollHeight - 20) {
				$list.off('scroll.notifications');
				$.nette.ajax({
					url: {link load! offset => $offset},
					off: ['spinner', 'unique']
				});
			}
		});
	});
</script>
{/snippet}
