{block header}
	{_'Account'}
{/block}

{block toolbar-items}
	{include head.latte}
{/block}

{block breadcrumb}
	{include #parent}
	<li><a class="ajax" n:href="Default:">{_'Security'}</a></li>
	<li class="active">{include #header}</li>
{/block}

{block content}

<h2>{_'Profile settings'}</h2>
{control accountForm}
